/* GLOBAL STYLES - from Carousel
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}

/* Bootstrap overrides */
.navbar-brand {
  padding-top: 9px;
  padding-bottom: 5px;
}

/* Carousel overrides */
.marketing .col-lg-4 p {
  text-align: left;
}

.brjs-jumbo {
  /*background-image: url( '../img/nebular_bg.jpg' );*/
  background-image: url( '../img/space_stars.jpg' );
  background-size: 100% 100%;
}

/* Customisations */

.brjs-jumbo {
  position: relative;
  color: #ffffff;
  margin-top: -90px;
  padding-top: 90px;
}

.brjs-jumbo .intro {
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.brjs-jumbo .intro p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.4;
}

.primary-features {
  background: white;
  padding: 20px;
  color: #5a5a5a;
  border-radius: 10px 10px 0 0;
  border: 2px solid #5a5a5a;
  border-bottom: 0;
}

.secondary-features h2 {
  text-align: center;
}

.call-to-action {
  width: 100%;
  height: 75px;
  background-color: #5a5a5a;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}