html {
  background-color: black;
}

body {
  padding-top: 40px;
}

footer {
  margin-top: 50px;
}

.navbar-fixed-top {
  height: 30px;
  background-color: black;
}

.navbar-inner {
  min-height: 0;
}

.navbar-fixed-top .navbar-inner .nav {
  font-weight: bold;
}

.brand {
  position: fixed;
  padding: 0;
  top: 0;
  margin-left: 0;
  z-index: 20000;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo h1 {
  color: #c0c0c0;
  font-size: 25px;
  font-weight: 300;
  margin: 0;
}

.register {
  text-align: center;
}

.subscribe-form input {
  webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  border: 2px solid black;
}

.subscribe-form input[type=email] {
  width: 365px;
  height: 32px;
}

.subscribe-form input[type=button],
.subscribe-form input[type=submit] {
  background-color: black;
  color: white;
  width: 144px;
  height: 44px;
}

.lead .overview {
  color: #656565;
}

.lead .details {
  color: #888;
}

.usps a.more {
  webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  background-color: #999;
  color: white;

  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
}

.wrapper {
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.blog-list {
  margin-bottom: 20px;
}

.blog-list .row {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.blog-list .row .post-title {
  text-align: right;
}

.blog-list .row .post-title .meta {
  font-size: 11px;
}

.blog-list .row .post-title .meta .by {
  display: inline-block;
  float: right;
  clear: both;
  color: #c0c0c0;
}

.blog-list .row .post-title .meta .author {
  display: inline-block;
  float: right;
  clear: both;
}

.blog-list .row .post-title a {
  display: block;
  font-size: 16px;
  font-weight: 500;
}

.blog-list .row .post-image {
  margin-top: -10px;
}

.post .meta {
  font-size: 12px;
  color: #999;
}

.post p img {
  display: block;
  margin: auto;
}

.post {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post .fig-text {
  display: block;
  text-align: center;
}

.post .authors .author:before { content: ", "; }
.post .authors .author:first-child:before { content: ""; }
.post .authors .author:last-child:before { content: "& "; }
.post .authors .author:last-child:after { content: ""; }

.wrapper.single-page {
  padding-bottom: 20px;
}

body.docs {
  padding-top: 50px;
}

body.docs .toc-col {
  padding-top: 60px;
}

body.docs .toc-col ul {
  list-style: none;
  margin-left: 10px;
}

body.docs .content {
  min-height: 500px;
}

body.docs .content img {
  max-width: 600px;
  max-height: 500px;
}

/* Action statements e.g. File -> New */
body.docs .content p > em:first-child {
  font-weight: bold;
}

footer {
  background-color: black;
  color: white;

  line-height: 40px;
  font-size: 12px;
}

@media (max-width: 979px) {

  body {
    padding-top: 60px;
  }

  .navbar-fixed-top {
    position: fixed;
  }

  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0;
  }

  .navbar-fixed-top .navbar-inner .nav {
    margin-right: 30px;
  }

  .featurette {
    height: auto;
    padding: 0;
  }

  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {

  body {
    padding-left: 0;
    padding-right: 0;
  }

  body > .container,
  body > .wrapper > .container,
  footer > .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .register input[type=email] {
    max-width: 100%;
  }

  .register input[type=submit] {
    width: 381px;
    max-width: 100%;
    margin-top: 5px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}