---
layout: default
title: BladeRunnerJS - Divide &amp; conquer your web apps
---

<div class="container">
  <a name="top"></a>

  <div class="logo row">
    <div class="span12">
      <a href="/"><img src="/img/bladerunner-js.png" alt="BladeRunnerJS logo" /></a>
    </div>
  </div>

  <div class="register row">
    <div class="span12">

      {% include register_form.html %}

    </div>
  </div>


  <div class="lead row">
    <div class="span12">
      <h1>Divide &amp; conquer your web apps</h1>
      <p class="overview">
        BladeRunnerJS is a development toolkit and lightweight framework for building web applications consisting of one or more components called <strong>Blades</strong>. It comes complete with some <em>seriously</em> useful tools which make it easy to develop, test and deploy your app.
      </p>
    </div>
  </div>
</div><!-- /.container -->

<div class="wrapper">
  <div class="container">

    <div class="row usps">

      <div class="span4">
        <h3 title="Modular Development using Blades">Blades</h3>
        {% include docs/concepts/blade_overview.html %}
      </div><!-- /.span4 -->
      <div class="span4">
        <h3 title="Develop Blades in isolation using Workbenches">Workbenches</h3>
        <p><strong>Workbenches</strong> allow Blades to be developed, debugged and run independently of the app.</p>
        <p>Workbench Widgets allow you to interact with the Blade through stubbed services and via the event-hub. For example you can view your Blade in different states by sending it mock events via a mock events Workbench Widget.</p>
      </div><!-- /.span4 -->
      <div class="span4">
        <h3>Clean Code</h3>
        <p>Code is organized cleanly using <strong>classes</strong>, with one class per file, and JavaScript <strong>interface</strong> support is provided to help with creating large scalable code-bases.</p>
        <p>Services are a first-class concept that allow your application to be written before the back-end is finished, and can be replaced by mocks in your tests.</p>
      </div><!-- /.span4 -->

    </div><!-- /.row -->


    <div class="row usps">

      <div class="span4">
        <h3 title="">Scaffolding</h3>
      </div><!-- /.span4 -->
      <div class="span4">
        <h3 title="">Dependency Analysis</h3>
      </div><!-- /.span4 -->
      <div class="span4">
        <h3>Scale to Multiple Teams</h3>
      </div><!-- /.span4 -->

    </div><!-- /.row -->

    <div class="row usps">

      <div class="span4">
        <h3 title="">Effective UI Testing</h3>
      </div><!-- /.span4 -->
      <div class="span4">
        <h3 title=""></h3>
      </div><!-- /.span4 -->
      <div class="span4">
        <h3></h3>
      </div><!-- /.span4 -->

    </div><!-- /.row -->

  </div><!-- /.container -->   

</div> <!-- /wrapper -->