<!-- Begin MailChimp Signup Form -->
<form action="http://caplin.us7.list-manage.com/subscribe/post?u=b11bf2689d15a7cdd68a0904a&amp;id=4649bf0c91"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="subscribe-form form-inline" novalidate="novalidate">
  <input type="email" value="" name="EMAIL" class="required email" placeholder="Register for updates" />
  <input type="submit" value="Go" name="subscribe" class="btn btn-success" />
</form>
<!--End mc_embed_signup-->