---
layout: default
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.title }}">
    <meta name="google-site-verification" content="QTuVMZnAJpQqylK2r64PZVwJ6bCMdrgjW4tPQzf4mgw" />

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="alternate" type="application/rss+xml" title="BladeRunnerJS Blog" href="/blog/all.xml" />

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/components/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/libs/highlight.js/styles/zenburn.css" />

    <link href='http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/toc.css">

  </head>
<!-- NAVBAR
================================================== -->
  <body class="{{ page.template }} {{page.classes}}">
    <div class="navbar-wrapper">
      <div class="container nav">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/img/br-logo-white-trans-lrg.png" width="40" alt="BladeRunnerJS Logo"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/docs/">Docs</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/docs/reference/faq/">FAQ</a></li>
                <li><a href="/about/">About</a></li>
                <li><a class="team-nav" href="/about/team/">Team</a></li>
                <li class="btn-holder">
                  <a class="download-latest-nav btn green brjs-latest-download" role="button" aria-label="118.6 MB" href="https://github.com/BladeRunnerJS/brjs/releases">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                    <span class="brjs-latest-version"></span>
                  </a>
              </li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </div>

    {{ content }}


    <!-- FOOTER -->
    <footer class="container footer">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p class="social">
      <a href="https://github.com/BladeRunnerJS"><i class="fa fa-github fa-1"></i></a>
        <a href="https://plus.google.com/108556511900055348789" rel="publisher"><i class="fa fa-google-plus fa-1"></i></a>
        <a href="https://twitter.com/BladeRunnerJS"><i class="fa fa-twitter fa-1"></i></a>
      </p>
      <p>&copy; 2014  <a href="http://www.caplin.com">Caplin Systems</a></p>
    </footer>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41638401-1', 'bladerunnerjs.org');
    ga('send', 'pageview');
    </script>

    <script src="/components/bootstrap/assets/js/jquery.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/libs/highlight.js/highlight.pack.js"></script>
    <script src="/js/jquery.toc.js"></script>
    <script src="/js/behaviours.js"></script>
  </body>
</html>
