---
layout: default
template: docs
---

<div class="container content">

	<div class="row">

		<div class="col-lg-9">

			<h1>{{ page.title }}</h1>

			<div class="main">
				{% include docs/wip.html %}

				{{ content }}
			</div>

		</div>

		<div class="col-lg-3 toc-col">
			<h3>Documentation</h3>

			<form action="/docs/search/" method="get">
				<input type="text" name="s" placeholder="Search" />
				<input type="submit" value="Search" class="btn-black" />
			</form>

			<a href="/docs/use/"><h4>Use</h4></a>
			{% include docs/use/toc.html %}

			<a href="/docs/concepts/"><h4>Concepts</h4></a>

			{% include docs/concepts/toc.html %}

			<a href="/docs/extend/"><h4>Extend</h4></a>
			{% include docs/extend/toc.html %}

			<h4>Reference</h4>
			{% include docs/reference/toc.html %}

			<p class="doc-feedback alert alert-info">
				Got a suggestion to improve the docs? You can find the source <a href="{{ site.social.docs_issues_link }}">on github</a>. Please submit a pull request or raise an issue.
			</p>

		</div><!-- /.col-lg-3 .toc-col -->

	</div> <!--/.row -->

</div> <!-- /.container -->
