---
layout: default
template: docs
---

<div class="container content">

	<div class="row">

		<div class="col-lg-9">

			<h1>{{ page.title }}</h1>
	
			<div class="main">
				{% include docs/wip.html %}

				{{ content }}
			</div>

		</div>

		<div class="col-lg-3 toc-col">
			<h3>Documentation</h3>

			<h4><a href="/docs/use/">Use</a></h4>
			{% include docs/use/toc.html %}

			<h4><a href="/docs/concepts/">Concepts</a></h4>
			
			{% include docs/concepts/toc.html %}

			<h4><a href="/docs/extend/">Extend</a></h4>
			{% include docs/extend/toc.html %}

			<h4>Reference</h4>
			{% include docs/reference/toc.html %}

			<p class="doc-feedback alert alert-info">
				Got a suggestion to improve the docs? You can find the source <a href="{{ site.social.docs_issues_link }}">on github</a>. Please submit a pull request or raise an issue.
			</p>

		</div><!-- /.col-lg-3 .toc-col -->

	</div> <!--/.row -->

</div> <!-- /.container -->